.container {
    border: 1px solid white;
    margin-bottom: 40px !important;
	padding-bottom: 60px !important;
}

.jumbotron {
    padding: 0px !important;
}

.mat-spinner{
	margin-top: 50px !important;
}