<form (submit)="saveChanges()" style="width: 800px" [formGroup]="form">
    <mat-form-field style="width: 100%" appearance="fill">
        <mat-label htmlFor="name">Name</mat-label>
        <input shrink="false" formControlName="name" matInput />
        <mat-error *ngIf="form.invalid">{{
            getErrorMessageFieldName()
        }}</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="fill">
        <mat-label htmlFor="price">Price</mat-label>
        <input shrink="false" formControlName="price" matInput type="number" />
        <mat-error *ngIf="form.invalid">{{
            getErrorMessageFieldName()
        }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" [(ngModel)]="selectedCategory">
            <mat-option
                *ngFor="let category of categories"
                [value]="category.id"
            >
                {{ category.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%" appearance="fill">
        <mat-label htmlFor="description">Description</mat-label>
        <textarea
            rows="5"
            shrink="false"
            formControlName="description"
            matInput
        ></textarea>
        <mat-error *ngIf="form.invalid">{{
            getErrorMessageFieldName()
        }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brandId" [(ngModel)]="selectedBrand">
            <mat-option
                *ngFor="let brand of brands"
                [value]="brand.id"
            >
                {{ brand.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <mat-select formControlName="modelId" [(ngModel)]="selectedModel">
            <mat-option
                *ngFor="let model of models"
                [value]="model.id"
            >
                {{ model.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="btns">
        <button
            [disabled]="form.invalid"
            mat-flat-button
            color="primary"
            type="submit"
        >
            Save Changes
        </button>
        <a mat-stroked-button routerLink="/admin-area">Cancel</a>
    </div>
</form>