a:hover {
    text-decoration: none;
}

h1 a {
    border-bottom: 2px solid black;
    color: #007bff !important;
}

.btn-info {
    background-color: #007bff !important;
}

table {
    margin-top: 80px;
}

.list-unstyled {
    font-size: 22px;
    padding-left: 50px;
}

.categories {
    font-size: 17px;
    margin-top: 80px;
}
