a.active,
a.hover {
    border-bottom: 2px solid black !important;
}

.nav-item {
    margin-right: 20px;
}

.navbar-brand {
    padding-right: 30px;
}

.user-info {
    color: white;
    font-size: 18px;
    margin-right: 20px;

    span {
        margin: 0 25px 0 0 px;
        font-size: 18px;
    }

    .s-black {
        color: black;
        margin: 0 6px;
    }
}
