table {
    width: 100%;
}

.mat-cell {
    padding: 5px 26px 5px 0;
}

.mat-cell:last-of-type {
    padding-left: 10px;
}

.actions {
    font-size: 20px;
    display: flex;
    color: black !important;

    .action1 {
        margin-right: 10px;
        color: #43a047;
    }

    .action2 {
        color: #d81b60;
    }
}

td.view-btn {
    cursor: pointer;
}
