.spare-list {
    .spare-filter {
        border: 2px solid #007bff;
        background-color: whitesmoke;
        border-radius: 20px;
        padding: 25px 30px;
        margin-top: 0px;
    }

    .spare-items {
        margin-top: 50px;
    }
}

.dropdown-menu li a {
    margin: 20px;
}

select {
    width: 160px;
    font-size: 14px;
}

select.category {
    width: 260px;
    margin-right: -70px;
}

.search {
    position: relative;
    width: 360px;
}

.category {
    position: relative;
    top: 3px;
}
