<div class="container base-margin-top">
    <div class="spare-list row">
        <div class="spare-filter col-12">
            <div class="row">
                <div class="ml-5">
                    <div class="row">
                        <select
                            (change)="onChangeCategory($event.target)"
                            class="form-control col mr-2 category"
                        >
                            <option selected disabled>Category</option>
                            <option
                                *ngFor="let category of categories"
                                value="{{ category.id }}"
                            >
                                {{ category.name }}
                            </option>
                        </select>
                        <select
                            (change)="onChangeBrand($event.target)"
                            class="form-control col mr-2"
                        >
                            <option selected disabled>Brand</option>
                            <option
                                *ngFor="let brand of brands"
                                value="{{ brand.id }}"
                            >
                                {{ brand.name }}
                            </option>
                        </select>
                        <!-- <select
                            (change)="onChangeModel($event.target)"
                            class="form-control col mr-2"
                        >
                            <option selected disabled>Model</option>
                            <option
                                *ngFor="let model of models"
                                value="{{ model.id }}"
                            >
                                {{ model.name }}
                            </option>
                        </select> -->
                    </div>
                </div>
                <div class="dropdown ml-auto mr-5">
                    <button
                        class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                    >
                        Per page: {{ params.pageSize }} (Total:
                        {{ totalCount }})
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="onPageSize(2)" href="">2</a>
                        </li>
                        <li>
                            <a (click)="onPageSize(4)" href="">4</a>
                        </li>
                        <li>
                            <a (click)="onPageSize(8)" href="">8</a>
                        </li>
                        <li>
                            <a (click)="onPageSize(16)" href="">16</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="spare-items row base-margin-top">
            <app-spare-item
                *ngFor="let spare of spares"
                [spare]="spare"
                class="col-3"
            ></app-spare-item>
        </div>
    </div>
</div>

<div class="page">
    <div class="d-flex justify-content-center mt-4" *ngIf="totalCount > 0">
        <app-pager
            [pageSize]="params.pageSize"
            [totalCount]="totalCount"
            (pageChanged)="onPageChanged($event)"
        ></app-pager>
    </div>
</div>
