.jumbotron {
    background-color: whitesmoke;
    padding-top: 55px !important;
}

.card {
    text-align: center;
}

.admin-index-content {
    border-top: 3px solid #007bff;
    margin-top: 60px;
}
