.jumbotron2 {
    background-color: whitesmoke;
    padding-top: 45px !important;
    text-align: center;
    padding: 20px;
    padding-bottom: 60px;

    .row {
        margin-left: 0px;
    }
}

.card {
    text-align: center;
}

.admin-index-content {
    border-top: 3px solid #007bff;
}

h1 {
    color: #455a64;
}

h4 {
    color: #4527a0;
}
