<div class="container">
    <div class="row mt-5" *ngIf="spare">
        <div class="col-5">
            <img
                src="{{ spare.imageUrl }}"
                alt="{{ spare.name }}"
                class="img-fluid w-100"
                onerror="this.src='/assets/logo.png'"
            />
        </div>
        <div class="col-7">
            <h3>{{ spare.name }}</h3>
            <div><hr /></div>
            <div class="row">
                <h3 class="col">
                    {{ spare.price | currency }}
                </h3>
                <div class="text-right col">
                    <button
                        (click)="goToUrl()"
                        type="button"
                        class="btn btn-success mb btnbuy"
                    >
                        Buy
                    </button>
                </div>
            </div>
            <div><hr /></div>
            <div>
                <table>
                    <tr>
                        <td style="width: 150px">Category:</td>
                        <td>{{ spare.category?.name }}</td>
                    </tr>
                    <tr>
                        <td style="width: 150px">Brand:</td>
                        <td>{{ spare.model?.brand?.name }}</td>
                    </tr>
                    <tr>
                        <td style="width: 150px">Model:</td>
                        <td>{{ spare.model?.name }}</td>
                    </tr>
                    <tr>
                        <td style="width: 150px">Views:</td>
                        <td>{{ spare.viewCount }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row description">
        <div class="col-12 ml-3 text-center">
            <h4>Description</h4>
            <hr />
            <p>{{ spare.description }}</p>
        </div>
    </div>
</div>
