@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~fork-awesome/css/fork-awesome.min.css";
@import "~line-awesome/dist/line-awesome/css/line-awesome.min.css";


input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalid-block {
  color: #dc3545;
  text-align: center;
}

.form-group {
  margin-bottom: 0;
  margin-top: 1rem;
}

nav a{ 
	font-size: 18px;
	color: white !important;
}

nav .navbar-brand{
	margin-right: 30px;
}

.base-margin-top{
	margin-top: 50px;
}

body{
	margin-bottom: 50px;
}