.card {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

form {
  width: 400px;
}

.invalid-block {
  color: #dc3545;
  text-align: center;
}

.form-group {
  margin-bottom: 0;
  margin-top: 1rem;
}
